body {
    background-color: #ebebed;
}

header {
    padding: 30px 0px 20px 0px;
}

header .logo h1 {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #232d51;
}

header .logo h1 span {
    color: #fc4450;
}

header nav ul {
    margin-top: 10px;
    float: right;
}

header nav ul li {
    list-style-type: none;
    float: left;
    margin-left: 50px;
}

header nav ul li a {
    display: block;
    font-family: 'Mada', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #232d51;
}

/*section-a*/

section .section-a {
    height: 700px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    background-color: #ebebed;
}

.section-a .theme {
   /* position: relative;
    top: 165px;*/
    padding-top: 140px;
    padding-bottom: 70px;
}

.section-a .theme-img {
    height: auto;
    width: 100%;
   /*position: relative;
    top: 165px;*/
    padding-top: 150px;
    padding-bottom: 70px;
}

.section-a .theme-img img {
     display: block;
     height: auto;
     max-width: 100%;
}

.section-a .theme h1 {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    color: #232d51;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;   
}

.section-a .theme p {
    font-size: .9em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    color: #232d51;
}

.section-a .theme a {
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Mada', sans-serif;
    font-size: .8em;
    color: #fff;
    background-color: #fc4450;
    background-image: linear-gradient( to bottom right, #f0480d, #e82431);
    padding: 18px 60px;
    border-radius: 2px;
}

/*section-b*/

.section-b {
    background-color: #d8d8d8;
    position: relative;
    padding-bottom: 100px;
    top: -17px;
}

.bg-dark {
    height: 240px;
    width:70%;
    background-color: #33384b;
    position: absolute;
    right: 0;
    top: -70px;
}

.social-icons {
    position: relative;
    top: 50px;
    display: flex;
}

.social-icons span {
    flex-grow: 1;
    padding-bottom: 10px;
}

.social-icons span a {
    text-decoration: none;
    font-size: 26px;
    color: #33384b;
}

.g-content {
    position: relative;
    z-index: 2;
    font-family: 'Mada', sans-serif;
}

.g-content h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.g-content p {
    color: #fff;
    font-size: 14px;
    
}

.g-box {
    height: auto;
    width: 100%;
}

.g-box img {
    height: auto;
    display: block;
    max-width: 100%;
}

.social-icons span:nth-child(1) {
    border-bottom: 2px solid #33384b;
}

.social-icons span:nth-child(2) {
    border-bottom: 2px solid #1797e3;
}

.social-icons span:nth-child(3) {
    border-bottom: 2px solid #eb127e;
}

.section-b .gallery-story {
    padding: 70px 0px;
}

.gallery-story .header h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #232d51;
    padding: 50px 0 0 50px;
    margin-bottom: 40px;
}

.gallery-story .content .pic-display {
    height: auto;
    max-width: 100%;
    display: block;
}

.gallery-story .content .pic-display img {
    height: 550px;
    width: 100%;
    overflow: hidden;
}

.gallery-story .content .pic-story {
    height: 300px;
    background-color: #ebebed;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content .pic-story h1 {
    position: absolute;
    font-size: 183px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #d8d8d8;
    top: -45px;
    left: -18px;

}

.gallery-story .content .pic-story hr {
    border: 1.5px solid #eb127e;
    width: 30%;
    margin: 0 auto;
}

.gallery-story .content .pic-story p {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #232d51;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.pic-display {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.pic-display img {
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

/*section-c*/

.section-c {
    background-color: #d8d8d8;
    padding: 100px 0px;
}

.magazine-style {
     height: 600px;
     width: 100%;
     overflow: hidden;
}

.magazine-style img {
    height: auto;
    Max-width: 100%;
    display: block;
}

.article-style {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.article-style .top-section {
    height: 600px;
    overflow: hidden;
}

.top-section h1 {
     text-transform: capitalize;
     font-size: 60px;
     line-height: 60px;
     font-weight: 700;
     color: #33384b;
     margin-bottom: 30px;
     font-family: 'Cormorant Garamond', serif;
}

.top-section p {
    font-size: 14px;
    font-weight: 400;
    color: #33384b;
    font-family: 'Lato', sans-serif;
    padding-bottom: 40px;
    
}

.bottom-section .pic{
     height: 300px;
     overflow: hidden;
     width: 100%;
     margin-top: 30px;

}

.bottom-section .pic img {
    height: auto;
    display: block;
     Max-width: 100%;
     margin-top: 10px;
}

/*section-d*/


.section-d {
   background-color: #d8d8d8;
   padding: 50px 0px 145px 0px;
   position: relative;
}

.bio-pic {
    height: 540px;
    overflow: hidden;
    width: 100%;
}

.bio-pic img {
    height: auto;
    display: block;
    max-width: 100%;
}

.biography {
    position: absolute;
    top: 70px;
    overflow: hidden;
}

.biography h1 {
    text-transform: capitalize;
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    color: #33384b;
    margin-bottom: 25px;
}

.biography h1 span {
    font-size: 40px;
    color: #ebebeb;
    background-color: #33384b;
    padding: 10px 20px; 
    border-bottom-right-radius: 15px;
}

.biography .bio-content {
    padding-left: 12px;
    border-left: 2px solid #eb127e;
}

.biography .bio-content p {
     font-size: 14px;
     font-family: 'Mada', sans-serif;
     line-height: 18px;
     margin-bottom: 25px;
}

blockquote {
    position: relative;
    padding-left: 30px;
}

blockquote p:before, blockquote p:after {
    font-size: 55px;
    color:#33384b;
}

blockquote p {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #33384b;
    font-family: 'PT Serif', serif;
    margin-left: -6px;
}


blockquote p:before {
    content: '“';
    float: left;
    position: absolute;
    top: 10px;
    left:0px;
}

blockquote p:after {
    content: '”';
    float: right;
    position: absolute;
    bottom: -15px;
    right: 0px;
}

/*section-e*/

.section-e {
    background-color: #ebebed;
    padding: 100px 0px;
    border-bottom: 6px solid #33384b;
}

.showroom-pic {
    height: 450px;
    overflow: hidden;
    width: 100%;
}

.showroom-pic img {
    height: auto;
    display: block;
    Max-width: 100%;
}

.showroom-product-details {
    height: 450px;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}


.showroom-product-details p {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    right: 80px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 6px 8px;
}

.showroom-product-details ul {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 15px;
    padding: 0;
}

.showroom-product-details ul li {
    list-style: none;
    position: relative;
    padding: 0 0 20px 20px;
    text-transform: capitalize;
}

.showroom-product-details ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 4px solid #ee5047;
}

.showroom-product-details .price {
    color: #33384b;
    position: absolute;
    bottom: -20px;
}

.showroom-product-details .price h4 {
    font-size: 20px;

}

.showroom-product-details .price h1 {
    font-size: 46px;
    line-height: 35px;
}

.showroom-product-details .price h1 sup {
    font-size: 28px;
}

aside {
    display: flex;
    flex-direction: column;
    height: 450px;
}

aside button {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

aside button.previous {
    background-color: #33384b;
}

aside button.next {
    background-color: #eb127e;
}

aside button.previous:hover {
    background-color: #1c2135;
}

aside button.next:hover {
    background-color: #c00e67;
}


/*footer*/


footer {
    background-image: linear-gradient(to bottom, #ec5e48, #ed4545);
    padding: 70px 0px 140px 0px;
    box-sizing: border-box;
    font-family: 'Mada', sans-serif;
    font-weight: 300;
    color: #ebebeb;

}

.foot-header {
    margin-bottom: 75px;
}

.foot-header h1 {
   font-size: 60px;
   text-align: center;
}

.foot-header h1 span {
   color: #ec5e48;
   background-color: #ebebed;
   padding: 2px 12px;
   font-weight: 500;  
 }

 footer hr {
     border: 1px solid #ebebed;
 }

 .contact{
     margin-top: 75px;
 }

 .contact h1 {
     font-size: 25px ;
     text-align: left;
     margin-bottom: 20px;
     border-bottom: 1px solid #ebebed;
 }

 .contact-details ul li {
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
 }

 .contact-form form input {
     width: 49%;
     box-sizing: border-box;
     padding: 10px;
     margin: 10px 0px;
     background-color: rgba(255, 0, 0, 0);
     border: 1px solid #ebebed;
     color: #ebebed;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
 }

 .contact-form form input::placeholder {
     color: #ebebed
 }

 .contact-form form textarea::placeholder {
    color: #ebebed;
 }

  textarea {
     color: #ebebed;
     resize: none;
     background-color: rgba(255, 0, 0, 0);
     border: 1px solid #ebebed;
     width: 100%;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
     box-sizing: border-box;
     padding: 10px;
}

.contact-form form button {
    border: 1px solid #ebebed;
    background-color: rgba(255, 0, 0, 0);
    padding: 15px 50px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    color: #ebebed;
}

.contact-form form button:hover{
    background-color: #ebebed;
    color: #33384b;
}

.contact-form form button i {
    padding-right: 10px;
}

.contact-address p {
    font-size: 18px;
    font-weight: 400;
}








 













